.inspire {
    background-color: #fcdb00;
    &__row {
        display: flex;
        padding-bottom: 50px;
        justify-content: center;
    }

    &__page {
        display: flex;
        padding-bottom: 50px;
        justify-content: center;

        //position: relative;
        //animation: new-slide linear 0.7s;

        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            padding-bottom: 20px;
            align-items: center;
        }
    }

    &__body {
        min-width: 0;
        flex: 1 1 auto;

        //background-color: #898989;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__icons {
        display: flex;
        font-size: 42px;
        margin-bottom: 10px;
        li {
            margin-right: 40px;
            transition-duration: 0.2s;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                transform: scale(1.1,1.1);
            }
        }
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    &__image {
        margin-bottom: 20px;
        img {}
    }
    &__tablet {
        position: relative;
        max-width: 320px;
        max-height: 470px;
        background-color: white;
    }

    &__dots {
        display: flex;
        width: 55px;
        justify-content: space-between;

        @media (max-width: 768px) {
            align-items: center;
            width: 120px;
        }
    }
    &__dot{
        width: 15px;
        height: 15px;
        background-color: rgba(white, 0.5);
        border-radius: 50%;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }

    &__dot-active{
        background-color: white;
    }
}

@keyframes new-slide {
    0% {
        bottom: 20px;
    }
    100% {
        bottom: 0px;
    }
}

//.swiper-pagination-bullet {
//    width: 15px;
//    height: 15px;
//    background-color: rgba(white, 0.5);
//}

/*other pagination*/
.swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: white;
}

/*active pagination*/
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: rgba(white, 1);
}